/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #fff;
$black: #000;
$bg-color: #5B4848;
$tan: #DFD3C3;
$dark-tan: #D0B8A8;
$red: #895656;
$yellow: #FFCD89;
$blue: #2B3A55;
$off-white: #E0DFD5;
