/* =============
    Base
============= */

.large-images{
    width: 100%;
}

.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
     ". content ."
    ;
}

.content{
    grid-area: content;
}

.background{
    background-color:#5B4848;
}

.background-white{
    background-color:white;
}

.background-tan{
    background-color: #DFD3C3;
}

.background-darktan{
    background-color: #D0B8A8;
}

.background-red{
    background-color: #895656;
}

.article{
    background-color: #DFD3C3;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
}