/* =============
    Base
============= */

.large-images{
    width: 100%;
    display: block;
}

.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
     ". content ."
    ;

    @include xxl{
        grid-template-columns: auto 1500px auto;
        grid-template-areas: 
         ". content ."

}
}

.content{
    grid-area: content;
}

.background{
    background-color: $bg-color;
}

.background-white{
    background-color: $white;
}

.background-tan{
    background-color: $tan;
}

.background-darktan{
    background-color: $dark-tan;
}

.background-red{
    background-color: $red;
}



* {
    margin: 0;
    padding: 0;
    }



ul{

    li{
        list-style: none;
        margin-bottom: 8px;
    }
}


hr{
    margin: 16px 0px 16px 0px;
}




body{
    background-color: red;
}


@include sm{
body{
    background-color: green;
}   
}

@include md{
body{
    background-color: purple;
}
}

@include lg{
body{
    background-color: indianred;
}
}

@include xl{
    body{
        background-color: peru;
}
}

@include xxl{
     body{
        background-color: blue;
}
}