/* =============
    Base
============= */

.large-images{
    width:100%;
}

.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". content ."
    ;
}

.content{
    grid-area:content ;
}
