/* =============
    Typography
============= */



.h2{
    color: #DFD3C3;
    font-family:"Oxygen", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.penguin-name{
    color: #E0DFD5;
    font-family:"Oxygen", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.article-name{
    color: #000000;
    font-family:"Oxygen", sans-serif;
    font-size: 27px;
    font-weight: bold;
}

.article-text{
    color: #2B3A55;
    font-family:"Oxygen", sans-serif;
    font-size: 16px;
}

.text{
    color: #FFFFFF;
    font-family:"Oxygen", sans-serif;
    font-size: 12px;
}