/* =============
    Typography
============= */



.h3{
    color: #DFD3C3;
    font-family:"Oxygen", sans-serif;
    font-size: 20px;
}

.name{
    color: #E0DFD5;
    font-family:"Oxygen", sans-serif;
    font-size: 16px;
}