/* =============
    Typography
============= */



.h2{
    color: $tan;
    font-family:"Oxygen", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0px;
}

.penguin-name{
    color: $off-white;
    font-family:"Oxygen", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0px;
}

.article-name{
    color: $black;
    font-family:"Oxygen", sans-serif;
    font-size: 27px;
    font-weight: bold;
}

.article-text{
    color: $blue;
    font-family:"Oxygen", sans-serif;
    font-size: 16px;
}

.text{
    color: $white;
    font-family:"Oxygen", sans-serif;
    font-size: 12px;
}

.h4{
    color: $off-white;
    font-family:"Oxygen", sans-serif;
    font-size: 22px;
}

.penguin18{
    color: $blue;
    font-family:"Oxygen", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.penguin16{
    color: $blue;
    font-family:"Oxygen", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

