/* =============
    Articles
============= */



.article{
    background-color: #DFD3C3;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
}



.articles{
    

    margin-top: 12px;
    margin-bottom: 32px;
    


   h2{
        margin-left: 16px;
        font-family:"Oxygen", sans-serif;
        font-size: 20px;
        font-weight: normal;

    @include md{
        font-size: 28px;
        font-weight: normal;
    }   

    @include lg{
        font-size: 37px;
        font-weight: light;
    }
    
    @include xxl{
        margin-left: 88px;
        margin-right: 88px;
    }
   }
     
    ul{

      

        @include md{
            display: grid;
            grid-template-columns: (4 repeat 1fr);
            grid-template-areas: 
            "a1 a1 a2 a2"
            "a3 a3 a4 a4"
            ". a5 a5 ."
            ;

            .tall{
                grid-area: a1;
            }

            .call{
                grid-area: a2;
            }

            .rise{
                grid-area: a3;
            }

            .fossil{
                grid-area: a4;
            }

            .rare{
                grid-area: a5;
            }
            
            .article{
                margin-right: 16px;
                margin-left: 16px;
                margin-bottom: 16px;
    
            }
            
        }
        

        @include lg{
            
        }


        @include xl{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "a1 a1 a2 a2 a3 a3"
            ". a4 a4 a5 a5 ."
            ;

            .tall{
                grid-area: a1;
            }

            .call{
                grid-area: a2;
            }

            .rise{
                grid-area: a3;
            }

            .fossil{
                grid-area: a4;
            }

            .rare{
                grid-area: a5;
            }

        }

        @include xxl{
            margin-left: 88px;
            margin-right: 88px;
        }
    }
}



.article-box{
    padding: 8px 8px 16px 8px;
}