/* =============
    Articles
============= */



.article{
    background-color: #DFD3C3;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
}



.articles{
     
    ul{

        @include md{
            display: grid;
            grid-template-columns: (4 repeat 1fr);
            grid-template-areas: 
            "a1 a1 a2 a2
            a3 a3 a4 a4
            a1 a5 a5 a1"
            ;

            .tall{
                grid-area: a1;
            }

            .calls{
                grid-area: a2;
            }

            .rise{
                grid-area: a3;
            }

            .fossil{
                grid-area: a4;
            }

            .rare{
                grid-area: a5;
            }
      
            
        }
        .article{
            margin-right: 16px;
            margin-bottom: 16px;

        }

        @include lg{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            " ";
        }

        @include xl{

        }

        @include xxl{

        }
    }
}