/* =============
    Hero
============= */


.under-hero{
    
    @include md{
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-areas: 
        "uh1 uh2 uh2 ";

        .trending{
            grid-area: uh1;
        }

        .shelter{
            grid-area: uh2;
        }
  
    
    }

    @include lg{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        
    }

    @include xl{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        
    }

    @include xxl{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        
    }


}