/* =============
    Hero
============= */


.infopage{

    .penguin18{
        
        @include lg{
            font-size: 25px;
        }
    }

    .detail{

        @include lg{
            font-family:"Oxygen", sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: $blue;
        }        
    }


    .chevron{
        margin: 24px
    }


    .icon{
        margin: 0;
        vertical-align: text-bottom;


    }

    .trending{
        background-color: $tan;
        padding: 16px 16px 16px;
        display: grid;
        grid-template-columns: repeat (2, 1fr);
        grid-template-areas: 
        "pt1 pt3"
        "pt2 pt3"
        ;

            .penguin18{
                grid-area: pt1;
            }

            .penguin16{
                grid-area: pt2;
            }

            .chevron{
                grid-area: pt3;
                justify-self: end;
            }

            .detail{
                display:none;
                justify-self: end;
            }
    }

    .shelter{
            background-color: $dark-tan;
            padding: 16px 16px 16px;
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-areas: 
            "pt1 pt3"
            "pt2 pt3"
            ;

                .penguin18{
                    grid-area: pt1;
                }

                .penguin16{
                    grid-area: pt2;
                }

                .chevron{
                    grid-area: pt3;
                    justify-self: end;
                }

                .detail{
                    display:none;
                    justify-self: end;
                }
    }
    




   

    @include md{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "uh1 uh2  uh2";

        .trending{
            grid-area: uh1;
            background-color: $tan;
            padding: 16px 16px ;
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-areas: 
            "pt1 pt3"
            "pt2 pt3"
            ;

                .penguin18{
                    grid-area: pt1;
                }

                .penguin16{
                    grid-area: pt2;
                }

                .chevron{
                    grid-area: pt3;
                }
            

                .detail{
                    display:none;
                }
            
        }

        .shelter{
            grid-area: uh2;
            background-color: $dark-tan;
            padding: 16px 16px 16px;
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-areas: 
            "pt1 pt3"
            "pt2 pt3"
            ;

                .penguin18{
                    grid-area: pt1;
                }

                .penguin16{
                    grid-area: pt2;
                }

                .chevron{
                    grid-area: pt3;
                }


                .detail{
                    display:none;
                }
        }
  
    
    }

    @include lg{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "uh1 uh2";

        .trending{
            grid-area: uh1;
            background-color: $tan;

            .detail{
                display:initial;
            }
      
        }

        .shelter{
            grid-area: uh2;
            background-color: $dark-tan;

            .detail{
                display:initial;
            }
      
        }
  
  
        
    }

    @include xl{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .trending{
            grid-area: uh1;
            background-color: $tan;

            .detail{
                display:initial;
            }


      
        }

        .shelter{
            grid-area: uh2;
            background-color: $dark-tan;

            .detail{
                display:initial;
               
            }
      
        }
        
    }

    @include xxl{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .trending{
            grid-area: uh1;
            background-color: $tan;
            

            

            .detail{
                display:initial;
                grid-area: pen2;
            }


      
        }

        .shelter{
            grid-area: uh2;
            background-color: $dark-tan;

            .detail{
                display:initial;
               
            }
      
        }
  
        
    }


}



//CENTER IMAGES//


.center{

        .four{
            display: none;
        }
 
    

    @include md{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        " ce1 ce1 ce2 ce2";

        .swim{
            grid-area: ce1;
            height: 594px;
        }

        .three{
            grid-area: ce2;
            height: 594px;
        }

        .four{
            display:none;
        }
  
    
    }

    @include lg{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        " ce1 ce1 ce2 ce2";

        .swim{
            grid-area: ce1;
        }

        .three{
            grid-area: ce2;
        }

        .four{
            display:none;
        }
  
  
  
        
    }

    @include xl{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        " ce1 ce1 ce1 ce2 ce2";

        .swim{
            grid-area: ce1;
        }

        .three{
            grid-area: ce2;
        }
        
        .four{
            display:none;
        }
  
        
    }

    @include xxl{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        " ce1 ce2"
        " ce1 ce3"
        ;

        .swim{
            grid-area: ce1;
        }

        .three{
            grid-area: ce2;
        }
        
        .four{
            grid-area: ce3;
            display: initial;
        }
  
        
    }


}
