/* =============
    Hero
============= */


.infopage{
    
    @include md{
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-areas: 
        "uh1 uh2 uh2";

        .trending{
            grid-area: uh1;
        }

        .shelter{
            grid-area: uh2;
        }
  
    
    }

    @include lg{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-areas: 
        "uh1 uh2";

        .trending{
            grid-area: uh1;
        }

        .shelter{
            grid-area: uh2;
        }
  
  
        
    }

    @include xl{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        
    }

    @include xxl{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        
    }


}



//CENTER IMAGES//


.center{
    
    @include md{
        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-areas: 
        " ce1 ce1 ce2 ce2";

        .swim{
            grid-area: ce1;
        }

        .three{
            grid-area: ce2;
        }
  
    
    }

    @include lg{
        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-areas: 
        " ce1 ce1 ce2 ce2";

        .swim{
            grid-area: ce1;
        }

        .three{
            grid-area: ce2;
        }
  
  
  
        
    }

    @include xl{
        display: grid;
        grid-template-columns: repeat(5 1fr);
        grid-template-areas: 
        " ce1 ce1 ce1 ce2 ce2";

        .swim{
            grid-area: ce1;
        }

        .three{
            grid-area: ce2;
        }
  
  
        
    }

    @include xxl{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        
    }


}