/* =============
    Middle Bars
============= */


.round-img{
    border-radius: 50px;
    object-fit: cover;
    object-position: 95% 100%;
    border-color:#FFFFFF;
    border-style: solid;
    width: 85px;
    height: 85px;
}



.section-middle{
    background-color: #895656;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}



.middle{


        @include md{
            display: grid;
            grid-template-columns: repeat(4 1fr);
            grid-template-areas: 
            "f1 f1 f2 f2"
            ;

            .facts{
                grid-area: f1;
            }

            .care{
                grid-area: f2;
            }


        }

        @include lg{
            display: grid;
            grid-template-columns: repeat(4 1fr);
            grid-template-areas: 
            "f1 f1 f2 f2"
            ;

            .facts{
                grid-area: f1;
            }

            .care{
                grid-area: f2;
            }

        }


        @include xl{
            display: grid;
            grid-template-columns: repeat(4 1fr);
            grid-template-areas: 
            "f1 f1 f2 f2"
            ;

            .facts{
                grid-area: f1;
            }

            .care{
                grid-area: f2;
            }

        }

        @include xxl{
          

        }
    
}


.row{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;

    .icon{
        grid-row: 1 / 3;
    }
}