/* =============
    Middle Bars
============= */


.round-img{
    border-radius: 50px;
    object-fit: cover;
    object-position: 95% 100%;
    border-color: $white;
    border-style: solid;
    border-width: 4px;
    width: 85px;
    height: 85px;
    justify-content: end;

    @include md{
        width: 114px;
        height: 114px;
        border-radius: 90px;
        border-width: 8px;

    }


}



.section-middle{
    background-color: $red;
    padding: 16px 16px 8px 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}


.middle{

    .h4{
        color: $off-white;
        font-family:"Oxygen", sans-serif;
        font-size: 22px;

        @include md{
            font-size: 29px;
        }

        @include lg{
            font-size: 31px;
        }
    }

        @include md{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "f1 f1 f2 f2"
            ;
            

            .facts{
                grid-area: f1;
            }

            .care{
                grid-area: f2;
            }

            .section-middle{
                margin-right: 16px;
            }


          

        }

        @include lg{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "f1 f1 f2 f2"
            ;

            .facts{
                grid-area: f1;
            }

            .care{
                grid-area: f2;
            }

        }


        @include xl{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "f1 f1 f2 f2"
            ;

            .facts{
                grid-area: f1;
            }

            .care{
                grid-area: f2;
            }

        }

        @include xxl{
          
            .facts{
                margin-left: 88px;
            }

            .care{
                margin-right: 88px;
            }

        }
    
}


.bars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "l1 l2"
    "l3 l2";

    .texts{
        grid-area: l1;
    }

    .round{
        grid-area: l2;
        justify-self: end;
    }
    
    .buttons{
        grid-area: l3;
        width: fit-content;
        padding: 8px;
        height: 20px;
 
        

    }
  
    padding: 16px;



    @include md{
        padding: 16px;
        margin-bottom: 24px;
    }

    @include lg{
        padding: 36px;
        margin-bottom: 48px;
    }


    @include xl{

        padding: 36px;
        margin-bottom: 48px;
    }
}



