/* =============
    Footer
============= */

.footer{
    background-color: #895656;
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.right{
    position: absolute;
    left: 71%;


}


.footers{
    
    ul{
        @include md{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @include lg{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include xl{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}