/* =============
    Footer
============= */

.footer{
    background-color: $red;
    padding: 16px 0px 32px 0px;

}

.right{
    position: absolute;
    left: 71%;


}


.bottom{
     
    
        @include md{
            display: grid;
            grid-template-columns: repeat(2 1fr);
            grid-template-areas: 
            "m1 m2"
            "m3 m4"
            "m5 ."
            ;

            .greg{
                grid-area: m1;
            }

           .signup{
                grid-area: m2;
           }

           .sir{
                grid-area: m3;
           }

           .follow{
                grid-area: m4;
           }

           .bingo{
                grid-area: m5;
           }

        
        }



        @include lg{
            display: grid;
            grid-template-columns: repeat(2 1fr);
            grid-template-areas: 
            "m1 m2"
            "m3 m4"
            "m5 ."
            ;

            .greg{
                grid-area: m1;
            }

           .signup{
                grid-area: m2;
           }

           .sir{
                grid-area: m3;
           }

           .follow{
                grid-area: m4;
           }

           .bingo{
                grid-area: m5;
           }

        }

        @include xl{
            display: grid;
            grid-template-columns: repeat(3 1fr);
            grid-template-areas: 
            "m1 m2 m4"
            "m3 . ."
            "m5 . .";

            .greg{
                grid-area: m1;
            }

           .signup{
                grid-area: m2;
           }

           .sir{
                grid-area: m3;
           }

           .follow{
                grid-area: m4;
           }

           .bingo{
                grid-area: m5;
           }


        }
    }