/* =============
    Footer
============= */

.footer{
    background-color: #895656;
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.right{
    position: absolute;
    left: 71%;


}


.footer{
    
    .content{

        @include md{
            display: grid;
            grid-template-columns: repeat(2 1fr);
            grid-template-areas: 
            "m1 m4"
            "m2 m5"
            "m3 .";

            .mascot1{
                grid-area: m1;
            }

            .mascot2{
                grid-area: m2;
            }

            .mascot3{
                grid-area: m3;
            }

            .info1{
                grid-area: m4;
            }

            .info2{
                grid-area: m5;
            }

        
        }



        @include lg{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include xl{
            display: grid;
            grid-template-columns: repeat(3 1fr);
            grid-template-areas: 
            "m1 m4 m5"
            "m2 . ."
            "m3 . .";

            .mascot1{
                grid-area: m1;
            }

            .mascot2{
                grid-area: m2;
            }

            .mascot3{
                grid-area: m3;
            }

            .info1{
                grid-area: m4;
            }

            .info2{
                grid-area: m5;
            }
        }
    }
}