/* =============
    Buttons
============= */


.button{
    background-color: #FFCD89;
    color: #000000;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-family:"Oxygen", sans-serif;
    font-size: 14px;
}

