/* =============
    Buttons
============= */


.button{
    background-color: $yellow;
    color: $black;
    padding: 8px;
    text-align: center;
    font-family:"Oxygen", sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    margin-top: 24px;
   
}

.input{
    padding: 16px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #F8EDE3;
    color: #2B3A55;
    width: 90%;
}

.icon{
    width: 25px;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}





.pn{
    width: 150px;
    height: 150px;
}