/* =============
    Buttons
============= */


.button{
    background-color: #FFCD89;
    color: #000000;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-family:"Oxygen", sans-serif;
    font-size: 14px;
}

.input{
    padding: 16px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #F8EDE3;
    color: #2B3A55;
    width: 90%;
}

.icon{
    width: 25px;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.search{
    background-color: #FFFFFF;
    padding: 16px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #895656;
    width: auto;
    border-bottom: 2px solid #895656;
}

.search-icon{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    position: absolute;
}

.pn{
    width: 150px;
    height: 150px;
}